#cube {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50px;
}
#juego {
    position: left;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #0d00ff;
    background: linear-gradient(90deg, rgba(13, 0, 255, 1) 0%, rgba(0, 0, 0, 1) 50%);
}